@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'roboto',sans-serif;
}
/* ------------Nav----------*/
nav{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color:aliceblue;   
}
ul{
    display: inline-flex;
    flex-wrap:wrap;
    
}
ul > li{
    margin:10px;
    list-style: none;
    color: dimgrey;
    font-weight: 600;

}
#title{
    margin-right :1100px;
    margin-left:35px;

}
#title >h3{
    font-size: 20px;
    font-weight: 600;
    
}


/*-------------Main---------*/   
/*------------Page 1--------*/
#page-1{
    height: 753px;
    padding-top: 50px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("/images/city_bg.jpg");
    background-size: cover;
    width: 100%;
}
#core{
    margin:250px 0 0 300px;
    color: white;
}
#text > h1{
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 800;
    
}
#text > h4{
    font-size: 20px;
    font-weight: 200;
}

#logo{
    margin:170px 0 0 50px ;

}

#logo > img{
    height: 400px;
}
 #buttons{
    background-color: #4285F4;
}
#login-btn{
    background-color:#4285F4;
    margin:30px 10px 0 140px;
}
#sign-btn{
    background-color: #0F9D58;
    margin-top:30px;
}

/*------------Page 2--------*/
#page-2{
    text-align: center;
    padding: 30px 0 30px 0;
    color:#696969;
    background-color: aliceblue;
}

#page-3{
    background-color: #4BC3EF;
    display: inline-flex;
    width: 100%;
}
#page-3_text{
    margin: 30px 80px 20px 80px;
    color: white;
    padding-top: 15px;
}
#page-3_icons{
    display: inline-flex;
    color:white;
}
.icons{
    margin:40px 20px 20px 60px;
}

.icons > img{
    width: 120px;
    margin-bottom: 10px;
}
footer{
    display:inline-flex;
    padding : 30px 0 30px 0;
}
#social-media{
    display: inline-flex;
    flex-wrap: wrap;
}
#social-media > img{
    height: 30px;
    margin: 0 20px 0 0;
}
footer > h2{
    margin: 0 800px 0 68px ;
    font-size: 26px;
    color:#696969;
}





